body{
    font-family: 'Poppins', sans-serif;
}
.mehjabin{
    font-size: 45px;
    color: #007acc;
}

.welcome{
    font-size: 45px;
    color: rgb(20, 19, 20);
}


span{
    color: rgb(20, 19, 20);
}